<!-- Header -->
<section id="header">
    <div class="inner">
        <span class="icon major fa-cloud"></span>
        <h1>Bonjour je suis <strong>développeur web</strong><br />
        spécialisé dans le <strong>cloud</strong>.</h1>
        <p>En tant que freelance, j'exerce conseil et réalisation,<br />
        du simple site aux applications à fort trafic.</p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">En savoir plus</a></li>
        </ul>
    </div>
</section>
